---
layout: base.njk
title: Page not found
description: This page doesn't exist.
permalink: /404.html
eleventyExcludeFromCollections: true
---
<div class="post-head">
  <h1>Page not found</h1>
  <p>Whatever you were looking for isn't here anymore - possibly an old link from before the site moved. Try the <a href="/">homepage</a> or <a href="/tags/">browse by tag</a>.</p>
</div>
